{{ form_start(form, { attr: class: ''}) }}
<div>
	<div>
		{{ form_row(form.pseudo) }}
	</div>
	<div>
		{{ form_row(form.discord) }}
	</div>
</div>
{{form_widget(form)}}
<button class="">Modifier</button>
{{ form_end(form) }}
